
@{
    ViewBag.Title = "Afspeellijsten";
}

<h2>Afspeellijsten</h2>
@foreach (var afspeelijst in ViewBag.Data.afspeellijsten as List<SE2_IndividueleOpdracht.Models.Afspeellijst>)
{
    <li>@afspeelijst.Naam</li>
}

